
@{
    ViewBag.Title = "EditDefinition";
    Layout = "~/Areas/Admin/Views/Shared/View_gooflowlayout.cshtml";
    string id = ViewBag.Id;
    string pageId = ViewBag.pageId;
    string newPageId = SysHelps.getRandmonStirng();
}

<script type="text/javascript">

    $(document).ready(function () {
        var ifr = $("#@(pageId)WorkFlowDefBox");
        var property = {
            width: ifr.width(),
            height: ifr.height(),
            toolBtns: ["start", "end", "task", "node", "chat", "state", "plug", "join", "fork", "complex"],
            haveHead: true,
            headBtns: ["save", "undo", "redo", "reload"],//如果haveHead=true，则定义HEAD区的按钮
            haveTool: true,
            haveGroup: true,
            useOperStack: true
        };
        var remark = {
            cursor: "选择指针",
            direct: "转换连线",
            start: "开始结点",
            end: "结束结点",
            task: "任务结点",
            node: "自动结点",
            chat: "决策结点",
            state: "状态结点",
            plug: "附加插件",
            fork: "分支结点",
            join: "联合结点",
            complex: "复合结点",
            group: "组织划分框编辑开关"
        };
        var WorkFlowDef;


        WorkFlowDef = $.createGooFlow($("#@(pageId)WorkFlowDef"), property);
        WorkFlowDef.setNodeRemarks(remark);
        WorkFlowDef.onFreshClick = function () {
            loadData();
        }
        WorkFlowDef.onBtnSaveClick = function () {
            console.log("保存");

            var request = {
                Id: "@id",
                nodes: [],
                lines: [],
                areas: []
            };
            var units = WorkFlowDef.exportData();
            //转换为数组
            $.each(units.lines, function (i, n) {
                n.Id = i;
                request.lines.push(n)
            });
            $.each(units.areas, function (i, n) {
                n.Id = i;
                request.areas.push(n)
            });
            $.each(units.nodes, function (i, n) {
                n.Id = i;
                request.nodes.push(n)
            });
            console.log("提交请求");
            console.log(request);
            $.post("/api/WorkFlowDefinition/EditWorkFlowDefUnits", request, function (json) {
                showmsg(json);
                if (json.Message == 0) {
                    setData(json);
                }
            });
        }

        function setData(json) {
            if (json.Message == 0) {
                var defInfo = json.item.DictionaryUnits;
                defInfo.title = json.item.Caption;
                WorkFlowDef.$max = 9;

                //处理nodes 的 type
                $.each(defInfo.nodes, function (i, n) {
                    n.type = n.typeString;
                });

                console.log("流程图信息");
                console.log(defInfo);
                WorkFlowDef.loadData(defInfo);//流程图

                //节点网格
                var gridData = {
                    Message: 0,
                    item: {}
                };
                gridData.item.rows = json.item.ArrayUnits.Steps;
                gridData.item.total = gridData.item.rows.length;
                setGridRows(gridData, nodeGrid);
            }
            else {
                $.messager.alert(getErrorTitle(json.Message), "错误提示：<br />" + json.MessageDetail, 'error');
            }
        }

        function loadData() {
            //加载数据
            nodeGrid.datagrid("loading");
            $.getJSON("/api/WorkFlowDefinition/GetWorkFlowDefinitionById/@id", function (json) {
                setData(json);
            });
        }


        //数据明细网格定义

        //节点网格
        var nodeGrid = $("#@(pageId)NodeGrid");

        nodeGrid.datagrid({
            fit: true,
            border: false,
            fitColumns: true,
            striped: true,
            pagination: false,
            rownumbers: true,
            singleSelect: true,
            idField: "Id",
            onClickRow: function (index, row) {
                lineGrid.datagrid("loading");
                var url = "/api/WorkFlowDefinition/GetWorkFlowSetpNextLines/" + row.Id;
                $.getJSON(url, function (json) {
                    lineGrid.datagrid("loaded");
                    if (json.Message == 0) {
                        lineGrid.datagrid("loadData", { total: json.item.total, rows: json.item });
                    }
                    else {
                        showmsg(json);
                    }
                });
            },
            columns: [[
                {
                    field: 'Id', title: '节点ID'
                },
                {
                    field: 'name', title: '节点名称'
                },
                {
                    field: 'typeZHString', title: '节点类型'
                },
                {
                    field: 'DescriptString', title: '描述',width:200
                },
            ]],
            toolbar: [
                {
                    text: "审批角色与方式设置",
                    iconCls: "icon-man",
                    handler: function () {
                        var row = nodeGrid.datagrid("getSelected");
                        if (row == null) {
                            $.messager.alert('提示', "请先选中一行", 'info');
                            return;
                        }
                        if (row.type != 2) {
                            $.messager.alert('提示', "只有“任务节点”类型才可设置审批方式", 'info');
                            return;
                        }
                        var url = "@Url.Action("DefStepDetail", new { pageId=newPageId})";
                        url += "&id=" + row.Id;
                        console.log(url);
                        dialogWin.dialog({
                            title: row.name,
                            href: url
                        }).dialog("open");
                    }
                },
                {
                    text: "刷新",
                    iconCls: "icon-reload",
                    handler: function () {
                        loadData();
                    }
                }
            ]
        });

        loadData();

        //关系线网格

        var lineGrid = $("#@(pageId)LineGrid");

        lineGrid.datagrid({
            fit: true,
            border: false,
            fitColumns: true,
            striped: true,
            pagination: false,
            rownumbers: true,
            singleSelect: true,
            idField: "Id",
            columns: [[
                {
                    field: 'Id', title: '关系线ID'
                },
                {
                    field: 'name', title: '关系线名称'
                },
                {
                    field: 'ToStep.name', title: '目标节点', formatter: function (value, row, index) {
                        return row.ToStep.name
                    }
                },
                {
                    field: 'ToStep.typeZHString', title: '节点类型',
                    formatter: function (value, row, index) {
                        return row.ToStep.typeZHString
                    }
                }
            ]],
        });

        //步骤详情模态窗口
        var dialogWin = $("#@(pageId)stepdd");
        dialogWin.dialog({
            closed: false,
            cache: false,
            modal: true,
            closed: true,
            inline: true,
            toolbar: [
                {
                    text: '保存',
                    iconCls: 'icon-save',
                    handler: function () {
                        var btn = $(this);
                        var form = $("#@(newPageId)apprForm");
                        //验证表单
                        var r = form.form("validate");
                        if (r) {
                            btn.linkbutton("disable");

                            var request = form.serializeObject();
                            console.log(request);
                            //提交保存
                            var url = "/api/WorkFlowDefinition/EditStepApprovalInfo";
                            $.post(url, request, function (json) {
                                showmsg(json);
                                if (json.Message == 0) {
                                    dialogWin.dialog("close");
                                    //updaterow
                                    var row = nodeGrid.datagrid("getSelected");
                                    var rowIndex = nodeGrid.datagrid("getRowIndex", row);
                                    nodeGrid.datagrid("updateRow", {
                                        index: rowIndex,
                                        row: json.item
                                    });
                                }
                            });
                        }
                    }
                }
            ]
        });

        //jsondata = {
        //    title: "业务流程定义",
        //    nodes: {
        //        WorkFlowDef_node_1: { name: "node_1", left: 67, top: 69, type: "start", width: 24, height: 24 },
        //        WorkFlowDef_node_2: { name: "node_2", left: 219, top: 71, type: "task", width: 86, height: 24 },
        //        WorkFlowDef_node_5: { name: "node_5", left: 380, top: 71, type: "fork", width: 86, height: 24 }
        //    },
        //    lines: {
        //        WorkFlowDef_line_3: { type: "sl", from: "WorkFlowDef_node_1", to: "WorkFlowDef_node_2", name: "", marked: false },
        //        WorkFlowDef_line_6: { type: "sl", from: "WorkFlowDef_node_2", to: "WorkFlowDef_node_5", name: "", marked: false }
        //    },
        //    areas: {
        //        WorkFlowDef_area_8: { name: "area_8", left: 35, top: 39, color: "red", width: 472, height: 114 }
        //    }
        //};

    });
</script>

<div class="easyui-layout" data-options="fit:true">
    <div id="@(pageId)stepdd" style="width:90%;height:90%; overflow:hidden">步骤详情</div>
    <div data-options="region:'center',border:false">
        <div id="@(pageId)tt" class="easyui-tabs" data-options="fit:true,border:false">
            <div title="流程图" id="@(pageId)WorkFlowDefBox" style="padding:0">
                <div id="@(pageId)WorkFlowDef"></div>
            </div>
            <div title="节点明细" data-options="" style="padding:0">
                <div class="easyui-layout" data-options="fit:true,border:false">
                    <div data-options="region:'south',title:'节点后续关系线明细',split:true,border:false" style="height:200px;"><table id="@(pageId)LineGrid"></table></div>
                    <div data-options="region:'center',title:'节点明细列表',border:false"><table id="@(pageId)NodeGrid"></table></div>
                </div>
            </div>
        </div>  
    </div>
</div>




