@using monkey.service.WorkFlow;
@{
    ViewBag.Title = "所有工单列表";
    Layout = "~/Areas/Admin/Views/Shared/View_easylayout.cshtml";
    string pageId = ViewBag.pageId;
    string condtion = JsonConvert.SerializeObject(Model);
    string newPageId = SysHelps.getRandmonStirng();
}
@model BaseWorkOrderSearchRequest
<script>
    $(function () {
        var request = $.parseJSON('@Html.Raw(condtion)');
        var grid = $("#@(pageId)grid");
        function loadGrid() {
            console.log(request);
            grid.datagrid("loading");
            $.post("/api/WorkFlowOrders/GetWorkFlowBaseOrdersList", request, function (json) {
                grid.datagrid("unselectAll");
                grid.datagrid("acceptChanges");
                setGridRows(json, grid);
            });
        }

        grid.datagrid({
            fit: true,
            border: false,
            fitColumns: false,
            striped: true,
            pagination: true,
            rownumbers: true,
            pageNumber: request.page,
            pageSize: request.pageSize,
            singleSelect: true,
            idField: "Id",
            columns: [[
                {
                    field: 'CreatedOnString', title: '创建时间', width: 130
                },
                {
                    field: 'OrderTypeString', title: '工单类型', width: 120
                },
                {
                    field: 'OrderStatusString', title: '执行状态', width: 150, align: 'left', styler: function (value, row, index) {
                        switch (row.OrderStatus) {
                            case 1:
                                return "color:#ff6600";
                                break;
                            case 2:
                                return "color:blue";
                                break;
                            case 3:
                                return "color:red";
                                break;
                        }
                    }
                },
                {
                    field: 'NowTaskStepName', title: '当前审批步骤', width: 150, align: 'left'
                },
                {
                    field: 'TaskUserNames', title: '当前审批人', width: 200, align: 'left'
                },
                {
                    field: 'Remark', title: '工单备注', width: 500, editor: { type: "textbox", options: { required: true } }
                },
            ]],
            toolbar: [
                {
                    text: "新增",
                    iconCls: "icon-add",
                    handler: function () {
                        grid.datagrid('insertRow', {
                            index: 0,	// 索引从0开始
                            row: {
                                Id: "",
                                Remark: ''
                            }
                        }).datagrid("beginEdit", 0);
                    }
                },
                {
                    text: "保存",
                    iconCls: "icon-save",
                    handler: function () {
                        var rows = grid.datagrid("getRows");
                        if (rows.length == 0) {
                            $.messager.alert('提示', "没有数据需要保存", 'info');
                            return;
                        }
                        var Reg = true;

                        for (var i = 0; i < rows.length; i++) {
                            var rowIndex = grid.datagrid("getRowIndex", rows[i]);
                            Reg = Reg && grid.datagrid("validateRow", rowIndex);
                            if (Reg) {
                                grid.datagrid("endEdit", rowIndex);
                            }
                        }
                        if (Reg) {
                            var insertRows = grid.datagrid("getChanges", "inserted");
                            if (insertRows.length == 0) {
                                $.messager.alert('提示', "没有数据需要保存", 'info');
                                return;
                            }
                            var insertRequest = [];
                            for (var i = 0; i < insertRows.length; i++) {
                                insertRequest.push(insertRows[i].Remark);
                            }
                            grid.datagrid("loading");
                            var url = "/api/WorkFlowOrders/CreateWorkFlowBaseOrders";
                            console.log(url);
                            console.log(insertRequest);
                            $.post(url, {
                                rows: insertRequest
                            }, function (json) {
                                showmsg(json);
                                if (json.Message == 0) {
                                    loadGrid();
                                }
                                else {
                                    grid.datagrid("loaded");
                                }
                            });
                        }
                    }
                },
                {
                    text: "删除",
                    iconCls: "icon-clear",
                    handler: function () {
                        var row = grid.datagrid("getSelected");
                        if (row == null) {
                            $.messager.alert('错误', "请先选中一行", 'error');
                        }
                        else {
                            if (row.Id != "" && row.Id != null) {
                                $.messager.confirm('请确认', '确认要删除该工单？', function (r) {
                                    if (r) {
                                        var url = "/api/WorkFlowOrders/WorkFlowDelOrder/" + row.Id;
                                        console.log(url);
                                        grid.datagrid("loading");
                                        $.getJSON(url, function (json) {
                                            showmsg(json);
                                            if (json.Message == "0") {
                                                loadGrid();
                                            }
                                            else {
                                                grid.datagrid("loaded");
                                            }
                                        });
                                    }
                                });
                            }
                        }
                    }
                },
                '-',
                {
                    text: "提交",
                    iconCls: "icon-ok",
                    handler: function () {
                        var row = grid.datagrid("getSelected");
                        if (row == null) {
                            $.messager.alert('错误', "请先选中一行", 'error');
                        }
                        else {
                            if (row.Id != "" && row.Id != null) {
                                beginDD.dialog("open");
                            }
                        }
                    }
                },
                {
                    text: "终止",
                    iconCls: "icon-no",
                    handler: function () {
                        var row = grid.datagrid("getSelected");
                        if (row == null) {
                            $.messager.alert('错误', "请先选中一行", 'error');
                        }
                        else {
                            $.messager.confirm('请确认', '确认要终止该工作流？', function (r) {
                                if (r) {
                                    var url = "/api/WorkFlowOrders/WorkFlowAdminUserTermination";
                                    console.log(url);
                                    grid.datagrid("loading");
                                    $.post(url, { id: row.Id, Remark: "直接终止" }, function (json) {
                                        showmsg(json);
                                        if (json.Message == "0") {
                                            loadGrid();
                                        }
                                        else {
                                            grid.datagrid("loaded");
                                        }
                                    });
                                }
                            });
                        }
                    }
                },
                '-',
                {
                    text: "查看详情",
                    iconCls: "icon-search",
                    handler: function () {
                        var row = grid.datagrid("getSelected");
                        if (row == null) {
                            $.messager.alert('错误', "请先选中一行", 'error');
                        }
                        else {
                            if (row.Id != "" && row.Id != null) {
                                var url = "@Url.Action("WorkFlowOrderInfo",new { pageId = pageId })";
                                url += "&id=" + row.Id;
                                console.log(url);
                                dialogWin.dialog({
                                    title: "工单详情",
                                    href: url
                                }).dialog("open");
                            }
                        }
                    }
                },
            ],
            onDblClickRow: function (index, row) {
                var url = "@Url.Action("WorkFlowOrderInfo",new { pageId = pageId })";
                url += "&id=" + row.Id;
                console.log(url);
                dialogWin.dialog({
                    title: "工单详情",
                    href: url
                }).dialog("open");
            }
        });
        var dialogWin = $('#@(pageId)dd');

        dialogWin.dialog({
            cache: false,
            modal: true,
            closed: true,
            inline: true,
        });

        grid.datagrid('getPager').pagination({
            onSelectPage: function (pPageIndex, pPageSize) {
                request.page = pPageIndex;
                request.pageSize = pPageSize;
                loadGrid();
            }
        });
        loadGrid();


        //提交相关
        var beginDD = $("#@(pageId)SelectWorkFlowDefDD");

        beginDD.dialog({
            cache: false,
            modal: true,
            closed: true,
            inline: true,
            href: "@Url.Action("DefinitionSimpList", new { pageId = newPageId })",
            title: '请选择执行流程',
            toolbar: [
                {
                    text: "提交",
                    iconCls: "icon-ok",
                    handler: function () {
                        var defGrid = $("#@(newPageId)grid");
                        var row = defGrid.datagrid("getSelected");
                        if (row == null) {
                            $.messager.alert('错误', "请先选中一个流程", 'error');
                            return;
                        }
                        var id = grid.datagrid("getSelected").Id;
                        var url = "/api/WorkFlowOrders/BeginWorkFlow/" + id + "?defId=" + row.Id;
                        console.log(url);
                        $.getJSON(url, function (json) {
                            showmsg(json);
                            if (json.Message == "0") {
                                beginDD.dialog("close");
                                loadGrid();
                            }
                        });
                    }
                },
                {
                    text: "关闭",
                    iconCls: "icon-clear",
                    handler: function () {
                        beginDD.dialog("close");
                    }
                }
            ]
        });
    });
</script>
<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false">
    <div id="@(pageId)dd" style="width:90%;height:90%; overflow:hidden;"></div>
    <div id="@(pageId)SelectWorkFlowDefDD" style="width:90%;height:90%; overflow:hidden;"></div>
    <table id="@(pageId)grid"></table>
    </div>
</div>

