@using monkey.service.WorkFlow;
@{
    ViewBag.Title = "工单详情";
    Layout = "~/Areas/Admin/Views/Shared/View_easylayout.cshtml";
    string pageId = ViewBag.pageId;
    string newPageId = SysHelps.getRandmonStirng();
    var historyLineList = Model.GetApprovalHistoryLines();
    string histroyLines = JsonConvert.SerializeObject(historyLineList);
    List<BaseWorkOrderTaskUserInfo> taskUserList = new List<BaseWorkOrderTaskUserInfo>();
    WorkFlowDefSetpDetail stepInfo = null;
    if (!string.IsNullOrEmpty(Model.WorkFlowBookMarkId)) {
        taskUserList = Model.GetTaskUsersByStepId(Model.WorkFlowBookMarkId);
        stepInfo = WorkFlowDefSetpDetail.GetDetailInstance(Model.WorkFlowBookMarkId);
    }
    string userId = User.Identity.Name;//当前登录的用户
    bool showApprovalPage = false;
    if (taskUserList.Where(p=>p.IsConfirm == false).Select(p => p.UserId).Contains(userId)) {
        showApprovalPage = true;//等待当前用户审核
    }
}
@model BaseWorkOrder

<script>
    $(function () {
        
    });
</script>

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false">
        <div id="@(pageId)WorkOrderTT" class="easyui-tabs" data-options="fit:true,border:false">
            <div title="流程展现" id="@(pageId)WorkFlowDefBox" style="padding:0;overflow:hidden">
                <iframe src="@Url.Action("WorkFlowOrderWorkFlowDefInfo",new { id = Model.Id })" style="width:100%; height:100%; overflow:hidden; border:none;"></iframe>
            </div>
            <div title="工单信息">
                <div class="easyui-layout" data-options="fit:true">
                    <div data-options="region:'center',border:false,href:'@string.Format(Model.GetOrderDetailPageUrl(),pageId,Model.Id)'"></div>
                    @if (showApprovalPage)
                    {
                        <div data-options="region:'south',title:'工单审批',split:true,border:false,href:'@string.Format(Model.GetApprovalPageUrl(), pageId, Model.Id)'" style="height:150px;"></div>
                    }
                    else {
                        <div data-options="region:'south',title:'工单执行状态',split:true,border:false" style="height:150px; padding:5px;">
                            <div>工单状态：@Model.OrderStatusString</div>
                            @if (Model.OrderStatus == WorkOrderStatus.执行中)
                            {
                                <div>
                                    @if (taskUserList.Count > 0)
                                    {
                                        <span>等待下列用户审批：[ @(string.Join(",", taskUserList.Where(p => p.IsConfirm == false).Select(p => p.userName))) ] @(stepInfo == null ? "" : stepInfo.IsCountersign ? "会签" : "非会签")</span>
                                    }
                                    else {
                                        <span>未分配审批用户，等待系统自动触发执行</span>
                                    }
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            
            <div title="日志记录" data-options="href:'@Url.Action("userLogList","Logs", new { page = 1, pageSize = 20, fkId = Model.Id })'">
            </div>
        </div>  
    </div>
</div>

