@using monkey.service.WorkFlow;
@{
    ViewBag.Title = "用户待审或已审的工单列表";
    Layout = "~/Areas/Admin/Views/Shared/View_easylayout.cshtml";
    string pageId = ViewBag.pageId;
    string condtion = JsonConvert.SerializeObject(Model);
    string newPageId = SysHelps.getRandmonStirng();
}
@model BaseWorkOrderSearchRequest

<script>
    $(function () {
        var request = $.parseJSON('@Html.Raw(condtion)');
        var grid = $("#@(pageId)grid");
        function loadGrid() {
            console.log(request);
            grid.datagrid("loading");
            $.post("/api/WorkFlowOrders/GetWorkFlowBaseOrdersList", request, function (json) {
                grid.datagrid("unselectAll");
                grid.datagrid("acceptChanges");
                setGridRows(json, grid);
            });
        }

        grid.datagrid({
            fit: true,
            border: false,
            fitColumns: true,
            striped: true,
            pagination: true,
            rownumbers: true,
            pageNumber: request.page,
            pageSize: request.pageSize,
            singleSelect: true,
            idField: "Id",
            columns: [[
                {
                    field: 'CreatedOnString', title: '创建时间',
                },
                {
                    field: 'OrderTypeString', title: '工单类型',
                },
                {
                    field: 'OrderStatusString', title: '执行状态', align: 'left', styler: function (value, row, index) {
                        switch (row.OrderStatus) {
                            case 1:
                                return "color:#ff6600";
                                break;
                            case 2:
                                return "color:blue";
                                break;
                            case 3:
                                return "color:red";
                                break;
                        }
                    }
                },
                {
                    field: 'NowTaskStepName', title: '当前审批步骤', align: 'left'
                },
                {
                    field: 'TaskUserNames', title: '当前审批人', align: 'left'
                },
                {
                    field: 'Remark', title: '工单备注'
                },
            ]],
            toolbar: [
                {
                    text: "查看详情",
                    iconCls: "icon-search",
                    handler: function () {
                        var row = grid.datagrid("getSelected");
                        if (row == null) {
                            $.messager.alert('错误', "请先选中一行", 'error');
                        }
                        else {
                            if (row.Id != "" && row.Id != null) {
                                var url = "@Url.Action("WorkFlowOrderInfo",new { pageId = pageId })";
                                url += "&id=" + row.Id;
                                console.log(url);
                                dialogWin.dialog({
                                    title: "工单详情",
                                    href: url
                                }).dialog("open");
                            }
                        }
                    }
                },
            ],
            onDblClickRow: function (index, row) {
                var url = "@Url.Action("WorkFlowOrderInfo",new { pageId = pageId })";
                url += "&id=" + row.Id;
                console.log(url);
                dialogWin.dialog({
                    title: "工单详情",
                    href: url
                }).dialog("open");
            }
        });
        var dialogWin = $('#@(pageId)dd');

        dialogWin.dialog({
            cache: false,
            modal: true,
            closed: true,
            inline: true,
        });

        grid.datagrid('getPager').pagination({
            onSelectPage: function (pPageIndex, pPageSize) {
                request.page = pPageIndex;
                request.pageSize = pPageSize;
                loadGrid();
            }
        });
        loadGrid();

    });
</script>

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false">
        <div id="@(pageId)dd" style="width:90%;height:90%; overflow:hidden"></div>
        <table id="@(pageId)grid"></table>
    </div>
</div>

