@using monkey.service.Fun.Doc;
@{
    ViewBag.Title = "编辑文档图集";
    Layout = "~/Areas/Admin/Views/Shared/View_easylayout.cshtml";
    string pageId = ViewBag.pageId;
    var imgFileList = Model.GetImgFileList();
}
@model BaseDoc

<script>
    $(function () {
        var uploadBtn = $("#@(pageId)UploadImgFileBtn");
        var uploadForm = $("#@(pageId)UploadImgFileForm");
        var fileInput = uploadForm.find("input[name='imgfiles']");
        var ImgBox = $("#@(pageId)ImgList");
        uploadBtn.linkbutton({
            onClick: function () {
                var btn = $(this);
                console.log("上传图片集");
                fileInput.click();
            }
        });

        //上传文件
        fileInput.change(function () {
            console.log("开始上传");
            uploadBtn.linkbutton("disable");
            var formData = new FormData(uploadForm[0]);
            $.ajax({
                url: '/api/File/UploadFile?path=0',
                type: 'POST',
                success: function (data) {
                    showmsg(data);
                    uploadBtn.linkbutton("enable");

                    var url = "@Url.Action("ShowDocImgFile")";
                    url += "?FileId=" + data.item[0].Id + "&FilePath="+data.item[0].Path;
                    $.get(url, function (data) {
                        ImgBox.append(data);
                        $.parser.parse(ImgBox);
                    });
                },
                error: function (ex) {
                    console.log(ex);
                    $.messager.alert('错误', "发生异常", 'error');
                    uploadBtn.linkbutton("enable");
                },
                // Form数据
                data: formData,
                //Options to tell JQuery not to process data or worry about content-type
                cache: false,
                contentType: false,
                processData: false
            });
        });

        //删除与向上向下排序
        $(document).off("click", ".DocImgDelBtn");
        $(document).on("click", ".DocImgDelBtn", function () {
            var btn = $(this);
            var li = btn.parents(".DocImgFileLiBox");
            console.log(li);
            li.remove();
        });

        $(document).off("click", ".DocImgSortUpBtn");
        $(document).on("click", ".DocImgSortUpBtn", function () {
            var btn = $(this);
            var li = btn.parents(".DocImgFileLiBox");
            var p = li.prev();
            if (p.length == 1) {
                li.after(p);
            }
        });

        $(document).off("click", ".DocImgSortDownBtn");
        $(document).on("click", ".DocImgSortDownBtn", function () {
            var btn = $(this);
            var li = btn.parents(".DocImgFileLiBox");
            var n = li.next();
            if (n.length == 1) {
                li.before(n);
            }
        });


        //保存图集按钮
        $("#@(pageId)SaveImgFileBtn").linkbutton({
            onClick: function () {
                var btn = $(this);
                console.log("保存图片集");
                var forms = ImgBox.find(".DocImgFileInfo");
                var filesRequest = [];
                if (forms.length > 0) {
                    for (var i = 0; i < forms.length; i++) {
                        var d = $(forms[i]).serializeObject();
                        d.Seq = i;
                        filesRequest.push(d);
                    }
                }
                var url = "/api/Doc/UpdateDocImgFiles";
                var updateRequest = {
                    DocId: "@Model.Id",
                    FilesList: filesRequest
                };
                console.log(updateRequest);
                console.log(url);
                btn.linkbutton("disable");
                $.post(url, updateRequest, function (json) {
                    showmsg(json);
                    btn.linkbutton("enable");
                });
            }
        });
    });
</script>

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'north',title:'上传图片',split:true" style="padding:5px;height:70px;">
        <form id="@(pageId)UploadImgFileForm">
            <a href="javascript:void(0)" id="@(pageId)UploadImgFileBtn" class="easyui-linkbutton" data-options="iconCls:'icon-add'">上传图片</a>
            <input type="file" name="imgfiles" style="display:none;" />
            <a href="javascript:void(0)" id="@(pageId)SaveImgFileBtn" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
        </form>
    </div>
    <div data-options="region:'center',border:false">
        <ul class="BaseDocImgList" id="@(pageId)ImgList">
            @foreach (var item in imgFileList) {
                @Html.DisplayFor(m=> item, "ShowImgFileForm")
            }
        </ul>
    </div>
</div>

